$font-small-size: 15px;
$font-base-size: 18px;
$font-big-size: 26px;

$font-small-size-tablet: 20px;
$font-base-size-tablet: 23px;
$font-big-size-tablet: 29px;

$shadow-bloc: 0px 4px 12px 0px rgba(94, 93, 93, 0.23);
$shadow-bloc-darker: 0px 6px 15px 0px rgba(34, 32, 32, 0.23);

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #F6F6F6;
