.btn {
    padding: 18px; 
    width: 223px;
    border-radius: 35px;
    border-width: 0;
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    box-shadow: $shadow-bloc;
    &:hover {
        cursor: pointer;
        filter: brightness(105%);
        box-shadow: 0px 8px 10px 0px rgba(32, 30, 30, 0.23);
    }
}

