@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.restaurant-title, .txt-logo, article h1 {
    font-family: 'Shrikhand', cursive;
}

h1, h2 {
    font-size: $font-big-size;
}
h3, i, .menu-card h2 {
    font-size: $font-base-size;
}
.card-dish p {
    font-size: $font-small-size;
}

.menu-card h2 {
    text-transform: uppercase;
    font-weight: lighter;
}

@include tablet {
    h1, h2 {
        font-size: $font-big-size-tablet;
    }
    h3, i, .menu-card h2 {
        font-size: $font-base-size-tablet;
    }
    .card-dish p {
        font-size: $font-small-size-tablet;
    }
}

@include computer {
    h1, h2 {
        font-size: $font-big-size;
    }
    h3, i, .menu-card h2 {
        font-size: $font-base-size;
    }
    .card-dish p {
        font-size: $font-small-size;
    }
}