@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.restaurant-title, .txt-logo, article h1 {
  font-family: "Shrikhand", cursive;
}

h1, h2 {
  font-size: 26px;
}

h3, i, .menu-card h2 {
  font-size: 18px;
}

.card-dish p {
  font-size: 15px;
}

.menu-card h2 {
  text-transform: uppercase;
  font-weight: lighter;
}

.btn {
  padding: 18px;
  width: 223px;
  border-radius: 35px;
  border-width: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0px 4px 12px 0px rgba(94, 93, 93, 0.23);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  height: 65px;
  width: 100%;
  padding-bottom: 10px;
}
header img {
  width: 173px;
  height: 32px;
}

footer {
  background-color: #353535;
  color: #F8F8F8;
  height: 200px;
}
footer h2 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  padding-left: 25px;
  padding-top: 20px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style-type: none;
  padding: 5px 25px;
}
footer li i {
  padding-right: 10px;
  font-size: 14px;
}
footer li a {
  color: #F6F6F6;
  text-decoration: none;
}

.footer-restaurant {
  margin-top: -60px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  background: rgb(170, 162, 162);
  background: linear-gradient(180deg, rgb(209, 209, 209) 0%, rgb(234, 234, 234) 11%);
}
.location i {
  width: 32px;
  height: 20px;
}
.location p {
  font-weight: bold;
  padding-right: 25px;
}

.company-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  height: 310px;
  padding: 5px 25px;
}
.company-presentation h1 {
  margin: 0 25px;
}
.company-presentation h2 {
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 20px;
}

.operation {
  width: 89%;
  margin: 60px 20px;
}

.explanations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanations__choice {
  display: flex;
  width: 93%;
  max-width: 320px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 12px 0px rgba(94, 93, 93, 0.23);
  margin: 10px 0 20px 0px;
  height: 70px;
  border-radius: 20px;
  position: relative;
}
.explanations__choice p {
  position: absolute;
  border: 2px solid #9356DC;
  background-color: #9356DC;
  color: white;
  padding: 3px 7px 0px 7px;
  border-radius: 50%;
  left: -13px;
  top: 7px;
}
.explanations__choice i {
  padding: 25px 20px 0px 33px;
  opacity: 0.5;
}
.explanations__choice h3 {
  padding-top: 6px;
}

.picture-restaurant {
  width: 100%;
  height: 250px;
}

.all-menus {
  background-color: #F6F6F6;
  border-radius: 45px 45px 0 0;
  position: relative;
  bottom: 63px;
  width: 100%;
  padding-bottom: 80px;
}

article {
  width: 90%;
  margin: auto;
}
article .title {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 12px;
  margin-right: 15px;
}
article .title h1 {
  font-weight: lighter;
}
article .title i {
  font-size: 155%;
  align-self: center;
}
article .menu-card__btn {
  text-align: center;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  box-sizing: inherit;
}

.all-restaurant {
  background-color: #F6F6F6;
  padding-top: 20px;
  padding-bottom: 75px;
}
.all-restaurant h2 {
  width: 89%;
  margin: 24px 15px 15px 20px;
}
.all-restaurant a {
  text-decoration: none;
}

.card-restaurant {
  width: 89%;
  height: 270px;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
  position: relative;
  background-color: white;
  box-shadow: 0px 4px 12px 0px rgba(94, 93, 93, 0.23);
  color: black;
}
.card-restaurant img {
  width: 100%;
  height: 190px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.card-restaurant__image {
  object-fit: cover;
}
.card-restaurant__new {
  position: absolute;
  background-color: #99E2D0;
  color: #1A9778;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  width: 90px;
  height: 32px;
  top: -1%;
  right: 3%;
}
.card-restaurant h3 {
  margin: 13px 0 0 12px;
}
.card-restaurant__city {
  margin: 8px 0 0 12px;
}
.card-restaurant i {
  position: absolute;
  right: 8%;
  bottom: 11%;
  font-size: 155%;
}

.menu-card {
  margin-bottom: 50px;
}
.menu-card__button {
  text-align: center;
}
.menu-card h2 {
  border-bottom: 3px solid #99E2D0;
  width: 45px;
  height: 28px;
}

.card-dish {
  height: 70px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  box-shadow: 0px 4px 12px 0px rgba(94, 93, 93, 0.23);
  border-radius: 15px;
}
.card-dish h3 {
  width: 100%;
  margin: 13px 0 8px 12px;
}
.card-dish p {
  margin-left: 12px;
  margin-top: 0;
}
.card-dish__price {
  margin-right: 20px;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */