@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.restaurant-title, .txt-logo, article h1 {
  font-family: "Shrikhand", cursive;
}

h1, h2 {
  font-size: 26px;
}

h3, i, .menu-card h2 {
  font-size: 18px;
}

.card-dish p {
  font-size: 15px;
}

.menu-card h2 {
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (min-width: 600px) {
  h1, h2 {
    font-size: 29px;
  }
  h3, i, .menu-card h2 {
    font-size: 23px;
  }
  .card-dish p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1020px) {
  h1, h2 {
    font-size: 26px;
  }
  h3, i, .menu-card h2 {
    font-size: 18px;
  }
  .card-dish p {
    font-size: 15px;
  }
}
.loading-spinner {
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
}
.loading-spinner__circle {
  width: 120px;
  height: 120px;
  border: 16px solid black;
  border-top: 16px solid rgb(255, 121, 218);
  border-radius: 50%;
  animation: spin 1s linear forwards;
}

.bloc-page {
  animation: transition-page 2300ms forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    border-top: 16px solid rgb(147, 86, 220);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes transition-page {
  0% {
    visibility: hidden;
  }
  40% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.heart--pink {
  transition: all 0.4s ease-out;
}
.heart--pink:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
  font-weight: 800;
}

.menu-card .card-dish {
  animation-name: appearance-dish;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.menu-card .card-dish:nth-child(2) {
  animation-delay: 200ms;
}
.menu-card .card-dish:nth-child(3) {
  animation-delay: 400ms;
}
.menu-card .card-dish:nth-child(4) {
  animation-delay: 600ms;
}
.menu-card .card-dish:nth-child(5) {
  animation-delay: 800ms;
}

@keyframes appearance-dish {
  0% {
    transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.btn {
  padding: 18px;
  width: 223px;
  border-radius: 35px;
  border-width: 0;
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  color: white;
  box-shadow: 0px 4px 12px 0px rgba(94, 93, 93, 0.23);
}
.btn:hover {
  cursor: pointer;
  filter: brightness(105%);
  box-shadow: 0px 8px 10px 0px rgba(32, 30, 30, 0.23);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  height: 65px;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
}
header img {
  width: 173px;
  height: 32px;
}
header .back-arrow {
  position: absolute;
  left: 20px;
  background-color: white;
  border: 0px;
}

footer {
  background-color: rgb(53, 53, 53);
  color: rgb(246, 246, 246);
  height: 200px;
}
footer h2 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  padding-left: 25px;
  padding-top: 20px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style-type: none;
  padding: 5px 25px;
}
footer li i {
  padding-right: 10px;
  font-size: 14px;
}
footer li a {
  color: rgb(246, 246, 246);
  text-decoration: none;
}

.footer-restaurant {
  margin-top: -60px;
}

article {
  width: 90%;
  margin: auto;
}
article .title {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 12px;
  margin-right: 15px;
}
article .title h1 {
  font-weight: lighter;
}
article .title .heart--pink {
  font-size: 155%;
  align-self: center;
}
article .menu-card__btn {
  text-align: center;
}

@media screen and (min-width: 1020px) {
  article.all-card-restaurant {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  article.all-card-restaurant a {
    width: 40%;
    margin-bottom: 13px;
  }
}
.picture-restaurant {
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  max-height: 300px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  background: rgb(170, 162, 162);
  background: linear-gradient(180deg, rgb(209, 209, 209) 0%, rgb(234, 234, 234) 11%);
}
.location__icone {
  width: 32px;
  height: 20px;
}
.location p {
  font-weight: bold;
  padding-right: 25px;
}

.company-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(246, 246, 246);
  height: 310px;
  padding: 5px 25px;
}
.company-presentation h1 {
  margin: 0 25px;
}
.company-presentation h2 {
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 20px;
}

.operation h2 {
  width: 89%;
  margin-left: 24px;
}

.explanations {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.explanations__choice {
  display: flex;
  width: 93%;
  max-width: 340px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 4px 12px 0px rgba(94, 93, 93, 0.23);
  margin: 10px 0 20px 0px;
  height: 70px;
  border-radius: 20px;
  position: relative;
}
.explanations__choice:hover {
  background-color: rgba(146, 86, 220, 0.2);
}
.explanations__choice p {
  position: absolute;
  border: 2px solid rgb(147, 86, 220);
  background-color: rgb(147, 86, 220);
  color: rgb(246, 246, 246);
  padding: 3px 7px 0px 7px;
  border-radius: 50%;
  left: -13px;
  top: 7px;
}
.explanations__choice i {
  padding: 25px 20px 0px 33px;
  opacity: 0.5;
}
.explanations__choice h3 {
  padding-top: 6px;
}

@media screen and (min-width: 600px) {
  .picture-restaurant {
    object-fit: cover;
    max-height: 450px;
  }
  .explanations__choice h3 {
    padding: 0;
  }
}
@media screen and (min-width: 1020px) {
  .picture-restaurant {
    object-fit: cover;
  }
  .explanations {
    flex-direction: row;
    justify-content: space-around;
  }
  .explanations__choice {
    width: 90%;
    max-width: 28%;
    margin: 10px 0 80px 0px;
  }
  .explanations__choice h3 {
    font-size: 19px;
    padding-top: 5px;
  }
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  box-sizing: inherit;
}

.all-restaurant {
  background-color: rgb(246, 246, 246);
  padding-top: 20px;
  padding-bottom: 75px;
}
.all-restaurant h2 {
  width: 89%;
  margin: 24px 15px 15px 20px;
}
.all-restaurant a {
  text-decoration: none;
}

.card-restaurant {
  height: 270px;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
  position: relative;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 4px 12px 0px rgba(94, 93, 93, 0.23);
  color: black;
}
.card-restaurant img {
  width: 100%;
  height: 190px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.card-restaurant__image {
  object-fit: cover;
}
.card-restaurant__new {
  position: absolute;
  background-color: rgb(153, 226, 208);
  color: rgb(26, 151, 120);
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  width: 90px;
  height: 32px;
  top: -1%;
  right: 3%;
}
.card-restaurant h3 {
  margin: 13px 0 0 12px;
}
.card-restaurant__city {
  margin: 8px 0 0 12px;
}
.card-restaurant__heart {
  position: absolute;
  right: 4%;
  bottom: 9%;
  border: none;
  background-color: rgb(246, 246, 246);
}
.card-restaurant__heart .heart--pink {
  font-size: 155%;
}
.card-restaurant:hover {
  box-shadow: 0px 6px 15px 0px rgba(34, 32, 32, 0.23);
}

.menus {
  background-color: rgb(246, 246, 246);
  border-radius: 45px 45px 0 0;
  position: relative;
  bottom: 63px;
  width: 100%;
  padding-bottom: 80px;
}
.menus .menu-card {
  margin-bottom: 50px;
}
.menus .menu-card__button {
  text-align: center;
}
.menus .menu-card h2 {
  border-bottom: 3px solid rgb(153, 226, 208);
  width: 45px;
  height: 28px;
}

.card-dish {
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
  box-shadow: 0px 4px 12px 0px rgba(94, 93, 93, 0.23);
  border-radius: 15px;
  overflow: hidden;
}
.card-dish:hover {
  cursor: pointer;
}
.card-dish__menu {
  overflow: hidden;
  flex: 1;
}
.card-dish__menu h3 {
  margin: 13px 0 8px 12px;
  white-space: nowrap;
  overflow: hidden;
}
.card-dish__menu p {
  margin-left: 12px;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
}
.card-dish__price {
  font-weight: bold;
  padding: 8px;
}
.card-dish__price p {
  margin-left: auto;
  margin-bottom: 0;
  padding: 8px;
}
.card-dish--check {
  width: 0;
  height: 75px;
  background-color: rgb(153, 226, 208);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-dish--check i {
  color: rgb(246, 246, 246);
  font-size: 25px;
}
.card-dish:hover .card-dish--check {
  width: 70px;
  transition: all 0.3s ease-out;
}
.card-dish:hover .card-dish--check i {
  transform: rotate(1turn);
  transition: all 0.3s ease-out;
}

@media screen and (min-width: 600px) {
  .card-dish {
    margin-left: 80px;
  }
  .card-dish--check {
    height: 90px;
  }
  .card-dish:hover .card-dish--check {
    width: 100px;
  }
}
@media screen and (min-width: 1020px) {
  .card-dish {
    margin-left: 0;
    width: 90%;
  }
  .card-dish--check {
    height: 80px;
  }
  .card-dish:hover .card-dish--check {
    width: 70px;
  }
  article {
    margin: auto;
  }
  .all-menus {
    display: flex;
    justify-content: space-between;
  }
  .menus .menu-card {
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */